body{
    background-color: aquamarine;
}
h1 {
    color:  blue;
    font-size: 24px;
    font-weight: lighter;
    font-family:  Helvetica, sans-serif;
    border: 130px;
        }
        h2 {
            color:  red
            text-align: center}
    
    p {
        margin: 10px auto;
        width: 1000px;
    }
    .terroriste {
        color: green;
    }
    ul{
        list-style-type:disc ;
    }
    .gallery {display: flex;justify-content: space-around; flex-wrap: wrap;}
    .gallery img{ width: 30%; margin: 5px;}